.form-signin {
	max-width: 320px;
	padding: 15px;
	margin: 0 auto;
}

.spinner {
   display: inline-block;
   background: url('../images/ajax-loader.gif');
   width: 28px;
   height: 28px;
}

.timer {
	cursor: pointer;
}

a.undo-remove {
	color: #fff;
	text-decoration: underline;
}

span.total-time {
	text-decoration: underline;
	cursor: pointer;
}

.remove-salary-change {
	cursor: pointer;	
}